.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.titleSvg {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.col01,
.col02,
.col03,
.col04 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  width: 60px;
  text-align: end;
}

.playlist {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
