.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
}

.filterTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  cursor: pointer;
}

.filterButton:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
}

.filterButton:active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filterButton:not(:last-child) {
  margin-right: 10px;
}
