.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
}

.playerProgressWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 0 4px 0;
}

.playerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
  position: relative;
  cursor: pointer;
}

.timeDisplay {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  padding: 0 31px 0 0;
  font-size: 13px;
  line-height: 24px;
  color: #696969;
}

.timeCurrent {
  color: #696969;
}

.timeTotal {
  color: #696969;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #b672ff;
  transition: width 0.1s linear;
  z-index: 0;
}

.progressLine {
  width: 100%;
  height: 5px;
  appearance: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.progressLine::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.progressLine::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: transparent;
}

.progressLine::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.progressLine::-moz-range-track {
  width: 100%;
  height: 5px;
  background: transparent;
}

.playerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.btnPrev,
.btnPlay,
.btnNext,
.btnRepeat,
.btnShuffle {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btnPrev {
  margin-right: 23px;
}

.btnPrevSvg {
  width: 15px;
  height: 14px;
}

.btnPlay {
  margin-right: 23px;
}

.btnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.btnNext {
  margin-right: 28px;
  fill: #a53939;
}

.btnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.btnRepeat {
  margin-right: 24px;
}

.btnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.btnShuffle {
  display: flex;
  align-items: center;
}

.btnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.btnShuffle:hover svg,
.btnRepeat:hover svg {
  fill: transparent;
  stroke: #acacac;
}

.btnShuffle.active svg,
.btnRepeat.active svg {
  fill: transparent;
  stroke: #ffffff;
}

.btnShuffle:active svg,
.btnRepeat:active svg {
  fill: transparent;
  stroke: #ffffff;
}

.trackPlay {
  display: flex;
  flex-direction: row;
}

.contain {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image author' 'image album';
  align-items: center;
}

.image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  grid-row: 1;
  grid-column: 1;
  grid-area: image;
}

.svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.author {
  grid-row: 1;
  grid-column: 2;
  grid-area: author;
  min-width: 49px;
}

.authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.album {
  grid-row: 2;
  grid-column: 2;
  grid-area: album;
  min-width: 49px;
}

.albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

.dislike {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dislikeBtn {
  padding: 5px;
  margin-left: 28.5px;
}

.likeSvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.dislikeSvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.dislikeBtn:hover svg,
.btnShuffle:hover .likeSvg {
  fill: transparent;
  stroke: #acacac;
}

.dislikeBtn:active svg,
.btnShuffle:active .likeSvg {
  fill: #696969;
  stroke: #ffffff;
}

.volumeBlock {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
}

.volumeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volumeProgressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volumeProgressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}

.volumeProgressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: -7px;
}
